Repository brendan-m-murphy/inversions: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupytext
        name: jupytext (local)
        entry: jupytext
        language: system
        args: ["--sync"]
        # run on .ipynb and paired .py files
        files: '\.(ipynb|py)$'

      - id: nbstripout
        name: nbstripout (local)
        entry: nbstripout
        language: system
        # nbstripout understands .ipynb and json
        files: '\.(ipynb|json)$'

  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.0
    hooks:
      - id: ruff

Add initial README with project description
  README.md
Due: none

Extracting more helper functions from notebooks
  pyproject.toml
  src/inversions/basis_functions.py
  src/inversions/dask_helpers.py
  src/inversions/data_functions.py
  src/inversions/models.py
  src/inversions/plotting.py
  uv.lock
Due: jupytext

Add pytest for collecting imports
  tests/test_collect_imports.py
Due: jupytext

Add test for collect_imports script
  tests/test_collect_imports.py
Due: jupytext

Refactored data notebook to use helper fns
  README.md
  notebooks/sf6_testing/data.py
  src/inversions/data_functions.py
Due: jupytext

Formatting
  notebooks/sf6_testing/data.ipynb
  notebooks/sf6_testing/data.py
  notebooks/sf6_testing/intro.ipynb
  notebooks/sf6_testing/intro.py
  notebooks/sf6_testing/inversions_with_synthetic_data.ipynb
  notebooks/sf6_testing/inversions_with_synthetic_data.py
  notebooks/sf6_testing/simple_model.ipynb
  notebooks/sf6_testing/simple_model.py
  notebooks/sf6_testing/synthetic_data.ipynb
  notebooks/sf6_testing/synthetic_data.py
  scripts/collect_imports.py
  scripts/find_jupyter_functions.py
  src/inversions/basis_functions.py
  src/inversions/cli.py
  src/inversions/dask_helpers.py
  src/inversions/data_functions.py
  src/inversions/models.py
  src/inversions/plotting.py
Due: jupytext, nbstripout

Created separate notebook for EDGAR processing
  notebooks/sf6_testing/store_edgar_flux.py
Due: jupytext

Refactored edgar processing notebook
  notebooks/sf6_testing/store_edgar_flux.ipynb
  notebooks/sf6_testing/store_edgar_flux.py
  pyproject.toml
  src/inversions/regridding.py
  src/inversions/utils.py
  uv.lock
Due: jupytext, nbstripout

ipynb formatting
  notebooks/sf6_testing/data.ipynb
  notebooks/sf6_testing/intro.ipynb
  notebooks/sf6_testing/inversions_with_synthetic_data.ipynb
  notebooks/sf6_testing/simple_model.ipynb
Due: jupytext, nbstripout

Removed EDGAR processing from synth obs nb
  notebooks/sf6_testing/synthetic_data.py
Due: jupytext

Updating data functions, edgar
  notebooks/sf6_testing/store_edgar_flux.ipynb
  notebooks/sf6_testing/synthetic_data.ipynb
  src/inversions/data_functions.py
  src/inversions/synth_obs.py
Due: jupytext, nbstripout

Added basis_algorithms.py plus test notebook
  notebooks/basis_functions/graph_bf.org
  notebooks/basis_functions/greedy_basis_tests.ipynb
  notebooks/basis_functions/greedy_basis_tests.org
  pyproject.toml
  src/inversions/basis_algorithms.py
  src/inversions/basis_functions.py
  src/inversions/plotting.py
  uv.lock
Due: jupytext, nbstripout
